@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Anton', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(58, 56, 54);
}

.container::before {
    content: '';
    position: absolute;
    bottom: -40%;
    left: 40%;
    width: 600px;
    height: 600px;
    background: radial-gradient(rgb(223, 197, 197), rgb(35, 39, 36));
    border-radius: 50%;
}

.card {
    position: relative;
    width: 508px;
    height: 314px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px rgb(51, 46, 46);
    border-radius: 16px;
    background: rgb(260, 260, 260, 0.08);
    backdrop-filter: blur(11px);
    transform-style:preserve-3d;
    transition: 1s;
    backface-visibility: hidden;
}

.card .face.front .debit {
    position: absolute;
    left: 40px;
    top: 30px;
    color: white;
    font-weight: 500;
}

.card .face.front .bank {
    position: absolute;
    right: 40px;
    top: 25px;
    color: white;
    font-weight: 500;
    font-size: 24px;
}

.card .face.front .number {
    position: absolute;
    bottom: 130px;
    left: 65px;
    color: white;
    font-weight: 500;
    letter-spacing: 6px;
    font-size: 20px;
    text-shadow: 0 4px 2px rgb(14, 13, 13);
}

.card .face.front .date {
    position: absolute;
    bottom: 90px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    line-height: 1em;
    text-align: right;
}

.card .face.back .blackbar {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 60px;
    background: black;
}

.card .face.back .cvv {
    position: relative;
    background: white;
    color: black;
    box-shadow: 1px 1px 2px  rgb(19, 17, 17);
    width: 50px;
    height: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 120px;
    left: 400px;
}

.card:hover .face.front {
    transform: rotateY(180deg);
}


.card .face.back {
    transform: rotateY(180deg);
}

.card:hover .face.back {
    transform: rotateY(360deg);
}

